*{
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(24, 28, 48);
    font-family: 'Montserrat', sans-serif;
}


/*----------- BARRA DE NAVEGACION-----------*/

.nav{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;

    
}
.menu{
    display: flex;
    flex:0.3;
    align-items: center;
    justify-content: space-around;
   
}

.mon_tec1{
    opacity: 0;
    animation: mover 1s linear 1 forwards ;
}  

.mon_tec2{
    opacity: 0;
    animation: mover 1s linear 1s 1 forwards ;
} 

   @keyframes mover {
    0%{
        transform: translate(0, 5px) ;
        opacity: 0.1;
        
    }
    50%{
        transform: translate(0, 10px);
        opacity: 0.5; 
    }
    100%{
        transform: translate(0, 15px);
        opacity: 1; 
    }
   }

   .nav__button{
    height: 42px;
    background-color: #F0E9D2;
    border-radius: 10px;
    border: none;
    font-weight: 300;
    padding: 10px;
    box-shadow: 2px 3px #678983;
    font-size: 18px ;
    text-align: center;
    cursor: pointer;
}

.hist{
    width: 105px;
}

.jug{
    width: 125px;
}

.nav__button:active{
    transform: translate(2px,3px);
    box-shadow: none;
}

/*-------------CABECERA---------------*/

.header{
    background: url('./images/codigo.jpg') 50% 0 fixed;
    background-size: cover;
    min-height: 620px;
    color: #eeeeee;
    font-size: 28px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 100px;
    flex-direction: column ;
    align-items: center;
   
}

.header > h1{
    text-align: center;
    text-shadow: 2px 2px gray, 8px 8px black;
    background-color: rgba(0, 0, 0, 0);
    font-size: 70px;
}

/*----------------MAIN----------------*/

.main{
    display: flex;
    flex-direction: column ;
    align-items: center;/*(row) alineacion vertical | (column) alineacion horizontal*/
    padding: 100px 30px;
}


.main_text{
    text-shadow: 2px 2px black;
    font-size: 45px;
    text-align: center;
    color: #678983;
    
}
.cajas_destino{
    display: flex;
    justify-content:center ; /*(row) alineacion horizontal | (column) alineacion vertical*/
    align-items: center;/*(row) alineacion vertical | (column) alineacion horizontal*/ 
      
}

.cajas_imagenes{
    display: flex;
    justify-content:center ; /*(row) alineacion horizontal | (column) alineacion vertical*/
    align-items: center;/*(row) alineacion vertical | (column) alineacion horizontal*/ 
    gap:6px;
    padding: 40px 40px;
}

.caja_dest{
    width: 310px;
    height: 450px;
    display: flex;
    border: 2px solid black;
    background-color: grey;
    text-align: center;
    justify-content: center;
    align-items: center;

}
p{
    color: white;
    background-color: rgba(0, 0, 0, 0);
    font-size: 18px;
}

.caja_dest:hover {
    background-color: #1d1d1d;
}

.caja_img{
    width: 310px;
    height: 450px;
    display: flex;
    border: 2px solid black;
}
img{
    width: 100%;
    height: 450px;
}

.reiniciar{
    background-color: #F0E9D2;
    color: black;
    border-radius: 10px;
    font-weight: 300;
    padding: 10px;
    box-shadow: 2px 3px #678983;
    font-size: 15px ;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    width: 310px;
    margin: auto;

}

.reiniciar:active{
    transform: translate(2px,3px);
    box-shadow: none;
}